/* Created by: haokai
 * Created on: Apr 2021
 * This CSS file defines the style for index.html ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: powderblue;
}

h1 {
  background-color: #ff6347;
  color: #dc143c;
  padding: 40px;
  text-align: center;
}

p {
  background-color: #f0f;
}
